*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  font-size: $font-size-body;

  font-style: normal;
  font-weight: 400;

  line-height: 150%;
  color: $main-text;
  margin: 0;

  background-color: $background-body;

  @include tablet {
    background: url(../../../public/imgs/pinkTab.png),
      url(../../../public/imgs/violet.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top right, bottom left;
    background-attachment: fixed;
    background-color: $background-body;
  }
  @include desktop1200 {
    background: url(../../../public/imgs/pink.png),
      url(../../../public/imgs/violet.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top right, bottom left;
    background-attachment: fixed;
    background-color: $background-body;
  }
  @include desktop1280 {
    background-color: $background-body;
  }
}

html {
  @include tablet {
    overflow-x: hidden;
  }
  @include desktop1200 {
    overflow-x: unset;
  }
}

.ul {
  list-style: none;
}
