*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(36, 204, 167, 0.6);
  border-radius: 8px;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
  -webkit-appearance: none;

  @include desktop1024 {
    -webkit-appearance: unset;
  }
}
