*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #968a9e;
  border-radius: 20px;
}

*::-webkit-scrollbar {
  width: 6px;
  background: white;
  -webkit-appearance: none;

  @include desktop1024 {
    -webkit-appearance: unset;
  }
}
