.chart {
  text-align: start;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: flex-start; */
}

.chart__title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
}
.chart__container {
  position: relative;
  width: 100%;
  /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
/* .chart__container:hover { */
/* cursor: pointer; */
/* scale: 1.007; */
/* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
/* } */

.chart__balance {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-align: center;

  color: #000000;
}

@media screen and (min-width: 768px) {
  .chart__container {
    width: 336px;
  }
}

@media screen and (min-width: 1280px) {
  .chart__container {
    width: 288px;
  }
}
