body {
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-osx-font-smoothing: grayscale;
}

@import './assets/fonts/fonts.css';
@import './assets/css/main.css';
